# Visual Studio
.vs/
*.suo
*.user
*.userosscache
.vscode/

# .NET build
bin/
obj/
*.dll
*.exe
*.pdb
*.appsettings.Development.json
*.appsettings.Production.json
*.appsettings.Staging.json
appsettings.json

# Entity Framework Core (caso use banco local)
*.mdf
*.ldf

# Logs
*.log

# Node.js (Angular)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log



# Arquivos temporários de editor
*.bak
*.swp
*.sublime-workspace
*.sublime-project

# Arquivos específicos de sistema
Thumbs.db
Desktop.ini

# IDEs
.idea/

# Arquivos específicos de ambiente e senhas
secrets.json
