.transacoes-container {
  padding: 20px;
  background-color: #f3f1ec;
  border-radius: 10px;

  h2 {
    text-align: center;
    color: black;
  }
  h3 {
    text-align: center;
  }

  .transacoes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .receitas,
  .despesas {
    width: 45%;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .receitas td:nth-child(2) {
    color: #06791f;
    font-weight: bold;
  }

  .despesas td:nth-child(2) {
    color: #c82333;
    font-weight: bold;
  }

  table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #28a745;
    color: white;
  }

  .error-message {
    color: red;
    text-align: center;
  }

  .acordeao-filtro {
    margin-bottom: 20px;
    .acordeao-toggle {
      background: #28a745;
      color: #fff;
      border: none;
      padding: 8px 18px;
      border-radius: 6px;
      font-size: 1em;
      cursor: pointer;
      margin-bottom: 8px;
    }
    .acordeao-toggle:hover {
      background: #218838;
    }
    .acordeao-conteudo {
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(40, 167, 69, 0.08);
      padding: 16px 24px;
      margin-top: 8px;
      .filtro-form {
        display: flex;
        align-items: center;
        gap: 16px;
        label {
          font-weight: 500;
          color: #000000;
          display: flex;
          align-items: center;
          gap: 6px;
        }
        input[type="text"] {
          width: 60px;
          padding: 6px 8px;
          border: 1px solid #28a745;
          border-radius: 4px;
          font-size: 1em;
          outline: none;
          text-align: center;
        }
        button {
          padding: 6px 16px;
          border: none;
          border-radius: 4px;
          font-size: 1em;
          cursor: pointer;
        }
        button[type="submit"] {
          background: #484bf4;
          color: #fff;
        }
        button[type="submit"]:hover {
          background: #3e0eec;
        }
        button[type="button"] {
          background: #ff0000;
          color: #ffffff;
          border: 1px solid #28a745;
        }
        button[type="button"]:hover {
          background: #580000;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .transacoes {
      flex-direction: column;
      align-items: center;
    }

    .receitas,
    .despesas {
      width: 100%;
      margin-bottom: 20px;
    }

    .acordeao-filtro {
      .acordeao-conteudo {
        .filtro-form {
          flex-direction: column;
          align-items: stretch;
          gap: 10px;

          button {
            width: 100%;
          }
        }
      }
    }
  }
}
