.dashboard-layout {
  display: flex;
  justify-content: flex-start; /* Alinha o conteúdo ao longo do eixo horizontal */
  align-items: center; /* Centraliza a sidebar verticalmente */

  .sidebar {
    width: 250px; /* Largura fixa */
    background-color: #333;
    color: white;
    padding: 20px;
    height: 50vh; /* A altura é metade da tela (50% da altura da viewport) */
    position: relative; /* Necessário para o posicionamento absoluto */

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 15px 0;

        a {
          color: white;
          text-decoration: none;
          font-size: 1.1rem;
          display: block;

          &:hover {
            color: #28a745;
          }

          &.active {
            font-weight: bold;
            color: #28a745;
          }
        }
      }
    }
  }
  /* Estilo para o botão de logout */
  /* Estilo para o botão de logout */
  .logout-btn {
    background-color: #f44336; /* Cor vermelha */
    color: white;
    border: none;
    padding: 8px 16px; /* Ajusta o padding */
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    width: auto; /* Ajuste a largura para caber no conteúdo */
    display: inline-block; /* Para garantir que o botão não ocupe a largura total */
  }

  .logout-btn:hover {
    background-color: #d32f2f; /* Cor mais escura ao passar o mouse */
  }

  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
}
