######################################
## IGNORAR VISUAL STUDIO E .NET
######################################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

bin/
obj/
TestResults/
*.ncb
*.log
*.tlog
*.ide
*.dbmdl
*.psess
*.vsp
*.pdb
*.cache
*.ilk

# Pacotes e dependências do NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

######################################
## IGNORAR ANGULAR (controle-financeiro-front)
######################################
# Node.js
node_modules/
dist/
out-tsc/
.angular/
coverage/
npm-debug.log
yarn-error.log

# Configs de ambiente
.env
.env.*.local

######################################
## IGNORAR SISTEMAS OPERACIONAIS
######################################
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

# Linux
*~

######################################
## IGNORAR IDEs
######################################
# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
