@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f3f1ec;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
