.dashboard-home {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #28a745;
    color: white;
    border-radius: 10px;

    h2 {
      margin: 0;
    }

    .btn-download {
      padding: 10px 20px;
      background-color: #218838;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .content {
    margin-top: 20px;
    padding: 20px;
    background-color: #f3f1ec;
    border-radius: 10px;
  }

  .totais {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
