<div class="cadastro-bg">
  <div class="logo-wrapper">
    <img src="assets/img/logo-transparent.png" alt="Logo" class="logo" />
  </div>
  <div class="cadastro-container">
    <form (ngSubmit)="cadastrar()" #cadastroForm="ngForm" autocomplete="off">
      <input
        type="text"
        name="nome"
        [(ngModel)]="form.nome"
        placeholder="Nome"
        required
        autocomplete="name"
      />
      <input
        type="email"
        name="email"
        [(ngModel)]="form.email"
        placeholder="Email"
        required
        autocomplete="email"
      />
      <input
        type="password"
        name="senha"
        [(ngModel)]="form.senha"
        placeholder="Senha"
        required
        autocomplete="new-password"
      />
      <button type="submit">Cadastrar</button>
    </form>
  </div>
</div>
